<html>
<head>
	<link type="text/css" rel="stylesheet" href="../css/web_body_scrollbar.css" />
	<link type="text/css" rel="stylesheet" href="../css/page_show.css" />
	<script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="../js/web_body_frame.js"></script>
	<script type="text/javascript" src="../js/page_show.js"></script>
</head>
<body>
	<div id="body_iframe_body" class="body_body_scrollbar">
		<div id="search_param">
			查询条件
		</div>
		<div id="tool_bar">
			
		</div>
		<div id="data_list" style="height:800px;">
			
		</div>
	</div>
	
</body>
</html>