html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.body_body_scrollbar::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 6px;
	background-color: #F4F7FE;
}

.body_body_scrollbar::-webkit-scrollbar{
	width: 6px;
	background-color: #F4F7FE;
}

.body_body_scrollbar::-webkit-scrollbar-thumb{
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #45C8DC;
}
.body_body_scrollbar{
	overflow-y:auto;
	border-top:none;
	background: #E3E6EC;
}